<div class="center hero-unit">
  <h1>Welcome to Study Flash</h1>

  <h2>
    This is the home page for Study Flash
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
