<% provide(:title, 'All groups') %>
<h1>All groups</h1>

<%= will_paginate %>

<ul class="groups">
    <%= render @groups %>
</ul>

<%= will_paginate %>

<%= link_to "Add new group", new_group_path,class: "btn btn-primary" %>