<div class="row">
	<div class="span2">
		<h1><%= @group.name %></h1>

		<form>
			<label>Minutes:</label>
			<input type="text" id="interval"/>
		</form>
		<div class="alert alert-error" id="timerStatus">
		  Timer is off
		</div>
		<a href="#" id="startTimer" class="btn">Start</a>
		<a href="#" id="stopTimer" class ="btn">Stop</a>
		<div class="modal hide" id="question-pop">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		    <h3>Question</h3>
		  </div>
		  <div class="modal-body">
		    <p>Question</p>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn" data-dismiss="modal" id="show-answer"> Show Answer</a>
		  </div>
		</div>
		<div class="modal hide" id="answer-pop">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		    <h3>Answer</h3>
		  </div>
		  <div class="modal-body">
		    <p>Answer</p>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn" data-dismiss="modal">Close</a>
		  </div>
		</div>
	</div>
	<div class="span10 cards" >
		<h1>Cards:</h1>
		<% if @group.reg_cards.any? %>
		      <ul>
		        <%= render @reg_cards, group: @group.id %>
		      </ul>
		      <%= will_paginate @reg_cards %>
		    <% end %>
		<%= render 'shared/reg_card_form', group: @group.id %>
	</div>
</div>
